<nav class="nav-bar">
	<div class="nav-container">
		<ul class="navs">
			<li><i class="logo"></i></li>
			<li><a href="/">首页</a></li>
			<li><a href="/post/list">博文</a></li>
			<li><a href="/about/me">关于我</a></li>
		</ul>
		<ul class="others">
			<li><a href="https://github.com/awuRain"><span class="icon-github"></span></a></li>
		</ul>
	</div>
</nav>