<nav class="nav-bar">
	<div class="nav-container">
		<i class="logo"></i>
		<ul>
			<a href="/"><li>首页</li></a>
			<a href="/post/list"><li>博文</li></a>
			<a href="/about/me"><li>关于我</li></a>
		</ul>
	</div>
</nav>