@main-width: 800px;

@main-color-01: #422bd0;
@main-color-02: #44a;
@sub-color-01: #f36700;

.block-center {
	margin: 0 auto;
}

.clear {
	&:after {
		content: '';
		display: inline-block;
		clear: both;
	}
}