@import './reset.css';
@import './post.less';
@import './markdown.less';
@import './common.less';
@import './loader.less';

@nav-bar-height: 50px;
@nav-bar-width: @main-width + 100;

@logo-left: 100px;

* {
  transition: all .2s;
}

.logo {
  @width: 20px;
  display: inline-block;
  position: absolute;
  left: @logo-left;
  width: @width;
  background-image: url('../image/logo.png');
  background-size: cover;
  .beam(4, 3);
  .mid-vertical-absolute(@width*4/3);
}

.nav-bar {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: @nav-bar-height;
  background: @main-color-01;
  color: #fff;
  .nav-container {
    width: @nav-bar-width+200;
    position: relative;
    .block-center;
  }
  .navs {
    margin-left: 150px;
    display: inline-block;
  	// .block-center;
    .clear;
  }
  .others {
    float: right;
    margin-right: 50px;
    a {
      line-height: 45px;
    }
  }
  a {
    display: inline-block;
    padding: 0 30px;
    line-height: @nav-bar-height;
    color: #fff;
  }
  li {
  	height: @nav-bar-height;
  	display: inline-block;
  	float: left;
    &:hover {
      background-color: #5a43e7;
    }
  }
}

.content-container {
  padding: @nav-bar-height 0 @nav-bar-height+30;
}

::selection {
  background:@main-color-01; 
  color:#fff;
}
::-moz-selection {
  background:@main-color-01; 
  color:#fff;
}
::-webkit-selection {
  background:@main-color-01; 
  color:#fff;
}