@import './reset.css';
@import './post.less';
@import './markdown.less';
@import './common.less';
@import './loader.css';

@nav-bar-height: 50px;
@nav-bar-width: @main-width + 100;

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: @nav-bar-height;
  background: @main-color-01;
  color: #fff;
  ul {
  	width: @nav-bar-width;
  	.block-center;
  }
  li {
  	height: @nav-bar-height;
  	line-height: @nav-bar-height;
  	padding: 0 30px;
  	display: inline-block;
  	float: left;
  }
  a {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}