.text-gap {
	margin-top: 8px;
}

.post-list {
	width: 800px;
	margin: 0 auto;
	margin-top: 80px;
	.post-item {
		margin-top: 50px;
		.item-header {
			h1 {
				color: #36c;
				&:hover {
					color: #5d82ca;
					text-decoration: none;
				}
			}
		}
		.item-info {
			display: block;
			.text-gap;
			font-size: 12px;
			color: #999;
		}
		.item-content {
			.text-gap;
			line-height: 24px;
			font-size: 15px;
			color: #777;
		}
	}
}

.post-detail {
	width: 800px;
	margin: 0 auto;
	margin-top: 80px;
	.item-info {
		display: block;
		.text-gap;
		font-size: 12px;
		color: #999;
	}
}