<!DOCTYPE html>
<html>
<head>
  	<% include ../../partials/header.ejs %>
</head>

<body>
  	<% include ../../partials/nav.ejs %>
  	<% include ../../partials/loader.ejs %>
  	<div class="content-container">
  		<div id="post-detail" class="post-detail"></div>
  	</div>
	<script>
		var id = "<%= id %>";
		app.Manu.findPostById(id, function (res) {
			app.renderPostDetail(res[0], $('#post-detail'));
		})
	</script>
</body>
</html>
