<!DOCTYPE html>
<html>
<head>
  	<% include ../../partials/header.ejs %>
</head>

<body>
  	<% include ../../partials/nav.ejs %>
  	<% include ../../partials/loader.ejs %>
  	<div class="content-container">
  		<div id="post-list" class="post-list"></div>
  	</div>
	<script>
	  	app.Manu.find10Posts(function (res) {
	  		app.renderPostList(res, $('#post-list'));
	  	});
	</script>
</body>
</html>
