<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
  
  <!-- <form>
    <input></input>
    <textarea></textarea>
    <button></button>
  </form> -->
  <button class="add-btn">添加一行数据</button>
  <button class="find-btn">查找所有数据</button>
  <button class="2md-btn">转换成markdown</button>
  <button class="query-btn">query it</button>

<script>
  
</script>

</body>
</html>
